<hibernate-configuration>

<session-factory>
  
 <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
  <property name="hibernate.connection.password">Aa123456</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://db.cs.colman.ac.il</property>
  <property name="hibernate.connection.username">sandak</property>
  <property name="connection.pool_size">1</property>
  <property name="show_sql">true</property>  
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="MazeDB.hbm.xml"></mapping>

    </session-factory>  
  
</hibernate-configuration>  